<toaster-container [toasterconfig]="config"></toaster-container>
<div class="row">
  <div class="col-lg-12">
    <div class="flex-center full-height background">
      <nb-card>
        <nb-card-header> <h3 align="center"> กรุณากรอกรหัสผ่านใหม่ </h3>
        </nb-card-header>
        <nb-card-body>

          <form [formGroup]="loginForm" (submit)="loginUser($event)">
            เบอร์โทรศัพท์
            <input type="text" placeholder="เบอร์โทรศัพท์" value="{{ number }}" class="form-control-success length" formControlName="password"  disabled="disabled"/>
            รหัสผ่านใหม่
            <input type="password" placeholder="รหัสผ่านใหม่" id="password" class="form-control length" formControlName="password"
                   [ngClass]="{
                    'form-control-success' : isSubmitted && loginForm.controls.password.valid,
                    'form-control-danger' : isSubmitted && !loginForm.controls.password.valid
                  }">
            <div *ngIf="isSubmitted && loginForm.controls.password.errors">
              <div *ngIf="loginForm.controls.password.errors.required">
                <p> *กรุณากรอกรหัสผ่าน </p>
              </div>
              <div *ngIf="loginForm.controls.password.errors.minlength">
                <p> *รหัสผ่านต้องมีความยาว 6 ตัวอักษร </p>
              </div>
              <div *ngIf="loginForm.controls.password.errors.maxlength">
                <p> *รหัสผ่านต้องมีความยาวน้อยกว่า 20 ตัวอักษร </p>
              </div>
            </div>


            ยืนยันรหัสผ่านใหม่
            <input type="password" placeholder="ยืนยันรหัสผ่านใหม่" id="conpassword" class="form-control length" formControlName="conpassword"
                   [ngClass]="{
                    'form-control-success' : isSubmitted && loginForm.controls.conpassword.valid && !isConpass,
                    'form-control-danger' : (isSubmitted && loginForm.controls.conpassword.valid && isConpass)
                                             || (isSubmitted && !loginForm.controls.conpassword.valid)
                  }">
            <div *ngIf="isConpass">
              <p> *ยืนยันรหัสผ่านไม่ถูกต้อง </p>
            </div>
            <input type="submit" value="submit" class="btn btn-success">

          </form>
        </nb-card-body>
      </nb-card>


    </div>
  </div>
</div>